<main class="collection">
  <aside class="sidebar">
    <select #sortProducts name="sort" id="sort" class="sort" (change)="onSelect(sortProducts.value)">
      <option default value="asc">Sort by: Best Results</option>
      <option value="desc">Sort by: Votes</option>
    </select>
  </aside>

  <ul class="products">
    <li *ngFor="let product of products" class="prd-card">
      <div class="image-container">
        <img [src]="product.image" class="prd-image">
      </div>
      <h3>{{ product.title }}</h3>
      <app-vote-counter [count]="product.rating.count" [loggedIn]="loggedIn"></app-vote-counter>

      <div>€{{product.price | number: '1.2-2' }}</div>

      <!-- Placeholder; we need to build a cart API and call on it with relevant product data  -->
      <a *ngIf="loggedIn" class="prd-cta btn" href="https://www.rebuy.de/">Buy now</a>
    </li>
  </ul>
</main>
