/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
}

li {
  list-style-type: none;
}

.btn {
  color: #fff;
  background-color: #009ba5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #00bcc9;
}